language: java
#sudo: required only required when using docker or when you are using sudo commands
sudo: false

#cache:
#  directories:
#    - $HOME/.m2

jdk:
  - oraclejdk8
#  - oraclejdk9

#services:
#  - docker


#branches:
#  only:
#    - master
#  except:
#    - Nick

notifications:
  email: false

# Set up notification options
#notifications:
#  email:
#    recipients:
#      - one@example.com
#      - other@example.com
#
    # change is when the repo status goes from pass to fail or vice versa
#    on_success: change
#    on_failure: always

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

#any console commands can be executed here
script:
  - echo this is an example
  - ls
  - mvn -Dtest=* test
  - echo $TRAVIS_JDK_VERSION