<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="custom-appenders.xml" />
    <!--<include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->
    <root level="TRACE">
        <appender-ref ref="DEBUG-FILE" />
        <appender-ref ref="ERROR-WARN-FILE" />
        <appender-ref ref="INFO-FILE" />
        <appender-ref ref="TRACE-FILE" />
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>