/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Patua+One|Roboto');
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #666;
}
body {
	background-image: url('../bg.png');
	background-repeat: repeat;
	background-color: #F0F0F0;
}
.container {
	max-width: 900px;
	background-color: #FFF;
	margin: auto;
}
.content {
	max-width: 900px;
	margin: auto;
}
hr {
	border: 0px;
	height: 1px;
	background-color: #CCC;
}
.lightblue{
	color: #efc3e8;
}
.title-font{
	font-family: 'Patua One', sans-serif;
}
/* HEADER */
.main-header {
	width: 100%;
	background-color: #6c1d5f;
	border-bottom: 4px solid #b5309f;
	padding: 20px 0px;
}
.header-content {
	text-align: center;
}
.main-header .title {
	color: #FFF;
	margin-bottom: 20px;
	font-size: 40px;
}
.main-header .subtitle {
	color: #FFF;
	word-break: break-all;
}
/* REPORT */
.report-content{
	padding: 20px 0px;
}
article {
	width: 100%;
	background-color: #FFF;
	box-shadow: 3px 3px 0px 0px #CCC;
}
/* USER DETAILS */
.found-urls {
	padding: 20px;
	width: calc(100% - 40px);
}
.found-urls table{
	margin-top: 10px;
	border-spacing: 10px;
}
.found-urls table .value{
	font-family: 'Inconsolata', serif;
	word-break: break-all;
}
/* HEADERS */
.headers {
	padding: 20px;
}
.single-header {
	margin: 20px 0px;
}
.single-header header{
	width: calc(100% - 20px);
	padding: 10px;
}
.single-header header h3{
	color: #FFF;
}
.single-header .cat-red{
	background-color: #F00;
}
.single-header .cat-orange{
	background-color: #F93; 
}
.single-header-content{
	padding: 20px;
}
.code-text {
	display: block;
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 15px;
	background-color: #E0E0E0;
	font-family: 'Inconsolata', serif;
	word-break: break-all;
}
.single-header-content .header-desc {
	word-break: break-all;
}